{% extends 'performance_pulse/base.html' %}

{% block title %}Crypto Market | Performance Pulse{% endblock title %}

{% block content %}
<style>
    .body {
        overflow-y: hidden; 
    }

    .styled-div {
        background: rgba(255, 255, 255, 0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.19);
        padding: 30px;
        color: white; 
    }

    /* Responsive margin-top for smaller screens */
    @media (max-width: 768px) {
        .container-one {
            margin-top: 60px; /* Adjust this value based on your navbar's height */
        }
    }
</style>

<body> 
    <div class="container container-one d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-12 col-lg-12 col-xl-10 styled-div">
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

            <h4>About {{ name }} ({{ symbol }})</h4>
            {% if not description %}
                <p>The API was unable to fetch any description for {{ name }}</p>
            {% else %}
                <p class='description'>{{ description }}</p>
            {% endif %}

            {% if line_chart %}
                <img src="data:image/png;base64,{{ line_chart }}" alt="Line Chart" class="img-fluid">
            {% endif %}
        </div>
    </div>
</body>
{% endblock content %}
