{% extends 'performance_pulse/base.html' %}

{% block title %}Crypto Market| Performance Pulse{% endblock title %}

{% block content %}
<style>
    .body {
        overflow-y: hidden; 
    }

    #line-chart-container {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(13.4px);
        -webkit-backdrop-filter: blur(13.4px);
        width: 100%;
        max-width: 1200px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .styled-div {
        background: rgba(0, 0, 0, 0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(13.4px);
        -webkit-backdrop-filter: blur(13.4px);
        /* Add any other custom styles for the div here */
        padding: 20px;
        color: white; /* Set the text color to white */
    }

    .chart-div {
        background: rgba(0, 0, 0, 0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(13.4px);
        -webkit-backdrop-filter: blur(13.4px);
        /* Add any other custom styles for the chart div here */
        padding: 20px;
        margin-top: 20px; /* Add some margin to separate the chart from the description */
    }
</style>


<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="styled-div">
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            <h4>About {{ name }} ({{ symbol }})</h4>
            <p>{{ description }}</p>
        </div>
    </div>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div id="line-chart-container">
            <!-- Load the Plotly JavaScript library from a CDN -->
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

            <!-- Load the line chart JSON data from the view -->
            <script>
                const lineChartData = {{ line_chart_json|safe }};
                Plotly.react('line-chart', lineChartData.data, lineChartData.layout);
            </script>
        </div>
    </div>
</body>


{% endblock content %}
