{% extends 'performance_pulse/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Equity Tracker | Performance Pulse{% endblock title %}

{% block content %}
<style>
    body {
        overflow-y: hidden;
    }

    .alert {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .crispy-form {
        text-align: center;
        background: rgba(255, 255, 255, 0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.05);
        padding: 20px;
    }

    .btn {
        background-color: #ffffff;
        color: #000000;
        border: 2px solid #ffffff; 
        transition: background-color 0.2s ease, border-color 0.2s ease; 
    }

    .btn:hover {
        transition: color 0.3s ease; 
        background-color: #FF6347; 
        color: #ffffff; 
        border: 2px solid #FF6347; 
    }

    .btn:active {
        transition: color 0.3s ease; 
        background-color: #D40B00; 
        color: #ffffff; 
        border: 2px solid #D40B00; 
        transform: translateY(2px); 
    }

    form button[type="submit"]:active {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5); 
    }
</style>
<body>
    <div class="container">
        {% if messages %}
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-6">
                <form method="POST" action="{% url 'financial_pulse:search_company' %}" class="crispy-form">
                    {% csrf_token %}
                    <div class="text-center">
                        {{ form|crispy }}
                        <button type="submit" class="btn">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}
