{% extends 'performance_pulse/base.html' %}

{% block title %}Profile Search | Performance Pulse{% endblock title %}

{% block content %}
<style>
    .body {
        overflow-y: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .beta-message {
        text-align: center;
        font-size: 18px;
        color: #777;
    }
</style>

<body>
    <div class="body">
        <div class="beta-message">
            This app is currently in its beta phase, and this part of the app is being developed daily to bring you the best experience.
        </div>
    </div>
</body>
{% endblock content %}